body {
    background-color: black;
    color: white;
}

hr {
    width: 100%;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    margin-bottom: 5px;
}

.btnLogin {
    margin: 5px;
    padding: 5px;
}