* {
    background-color: black;
    color: white;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    background-color: white;
    color: black;
    margin: 5px 0;
}

button {
    cursor: pointer;
    padding: 5px;
    margin-top: 5px;
    background-color: #64d73e;
    border-radius: 8px;
}

button:hover {
    color: #64d73e;
    background-color: white;
    border-color: #64d73e;
}