<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>

<body>

    <h1>{{title_2}}</h1><!-- // con dos llaves me lee las etiquetas desde aca -->

    {{{title_3}}} <!--  // con 3 llaves me lee las etiquetas HTML desde mi objeto -->
    
    {{{body}}}
</body>

</html>